h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1105be;
    font-weight: bolder;
    margin: 0px 0px 0px 0px;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1105be;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}

fieldset {
    margin: 10px;
}

body {
    padding: 10px;
    color: #2060e9;
  }
  
input {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #1a5dec;
    font-weight: 900;
}

textarea {
    margin: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #1a5dec;
    font-weight: 900;
    width: 500px;
    height: 100px;
}

div {
    background-color: rgb(176, 218, 255);
}